 .bg-dark{
    background-color: #484848!important;
 }
 .navbar-nav{
    float: right;
    padding-right: 78px;
    font-size: 17px;
 }
 .navbar-brand{
    color: rgb(255, 255, 255);
    font-family: unset;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
 }
 .navbar-brand:hover{
    transition: 0.3s;
    color: rgb(161, 67, 87)
 }
 .nav-link:hover{
   transition: 0.3s;
   color: rgb(161, 67, 87)
 }
 .nav-link{
     color: aliceblue;
     font-family: 'Raleway', sans-serif;
     font-size: 18px;
 }